<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoBlaze Suite">
    <test name="LoginTest">
        <classes>
            <class name="com.demoblaze.tests.LoginTest"/>
            <!-- <class name="com.demoblaze.tests.HomeTest"/>
            <class name="com.demoblaze.tests.ProductTest"/>
            <class name="com.demoblaze.tests.CartTest"/>
            <class name="com.demoblaze.tests.CheckoutTest"/> -->
        </classes>
    </test>
</suite>