<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DemoBlaze Suite">
	<!-- <listeners>
		<listener class-name="com\demoblaze\utils\CustomTestNameListener.java"/>
	</listeners>
	 -->
    <!-- <test name="LoginTest">
        <classes>
            <class name="com.demoblaze.tests.LoginTest"/>
            <class name="com.demoblaze.tests.HomeTest"/>
            <class name="com.demoblaze.tests.ProductTest"/>
            <class name="com.demoblaze.tests.CartTest"/>
            <class name="com.demoblaze.tests.CheckoutTest"/>
        </classes>
    </test> -->
    
    <test name="Login Test">
        <classes>
           	<class name="com.demoblaze.tests.LoginTest"/>
        </classes>
    </test>
    <test name="Home Test">
        <classes>
           	<class name="com.demoblaze.tests.HomeTest"/>
        </classes>
    </test>
    <!-- <test name="Product Test">
        <classes>
           	<class name="com.demoblaze.tests.ProductTest"/>
        </classes>
    </test> -->
    <!-- <test name="Cart Test">
        <classes>
           	<class name="com.demoblaze.tests.CartTest"/>
        </classes>
    </test> -->
    <!-- <test name="Checkout Test">
        <classes>
           	<class name="com.demoblaze.tests.CheckoutTest"/>
        </classes>
    </test> -->
</suite>



<!-- GitHub Project Url: https://github.com/vipul-vds/selenium-framework -->
<!-- 
git clone "https://vipul-vds@github.com/vipul-vds/selenium-framework.git"

https://github.com/vipul-vds/selenium-framework.git

vds.vipul@gmail.com
vipul-vds

git add .
git commit -m "First Commit"
git status
git remote add origin https://github.com/vipul-vds/selenium-framework.git
git remote -v
git branch -M main
git push -u origin main


Future updates (Pushing new changes)
git add .
git commit -m "updated code"
git push origin main

Steps to resolve merge issues.
1. git pull origin main (It will show error message for merge conflict files)
2. Now open conflict file in an editor (It will show 
		<<<<<<<HEAD
		 Statements
		 
		===========
		statements
		
		>>>>>>>> origin main
3. Manually resolve the conflict (Decide which version to keep or merge both changes.)
4. Add the resolved file
	git add src/main/java/pages/HomePage.java
5. Commit and Push
	git commit -m "Commit Message"
	git push origin main

 -->
